/****************
 * Applications *
 ****************/
/* used by gnome-font-viewer and sushi */
SushiFontWidget {
    padding: 6px 12px;
}

/* gnome-terminal */
VteTerminal {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

TerminalWindow GtkNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

/* nautilus */
.nautilus-canvas-item {
    border-radius: 4px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @theme_selected_fg_color;
    text-shadow: 0 0 4px black, 0 0 2px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .sidebar .frame {
    border-style: none;
}

NautilusWindow > GtkGrid > .pane-separator {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: @border_color;
    background-color: @alt_subdued_color;
    color: @internal_element_color;
}

NautilusNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

NautilusNotebook .frame {
    border-style: none;
}

NautilusQueryEditor .primary-toolbar.toolbar {
    border-top-width: 0;
    border-bottom-width: 0;
}

NautilusQueryEditor .toolbar {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 1px 0 0 0;
}

NautilusQueryEditor .primary-toolbar.toolbar:only-child,
NautilusQueryEditor .toolbar:last-child {
    border-bottom-width: 1px;
}

/* gedit */
GeditWindow .notebook {
    border-width: 1px 0;
}

GeditWindow .pane-separator {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: @border_color;
    background-color: @theme_bg_color;
    color: @internal_element_color;
}

GeditPanel .title {
    padding: 5px;
    border-style: none;
}

GeditPanel .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab {
    padding: 7px 16px;
}

GeditDocumentsPanel .view {
    background-color: @alt_subdued_color;
}

GeditDocumentsPanel .view:hover {
    background-color: @subdued_color;
}

GeditDocumentsPanel .view:selected {
    background-color: @theme_selected_bg_color;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    border-top: none;
    padding: 2px;
}

GeditStatusMenuButton.button,
GeditStatusMenuButton.button:active {
    border-radius: 0;
    border-width: 0 1px;
}

GeditViewFrame .gedit-search-slider {
    opacity: 0.9;
    padding: 6px;
    border-radius: 0 0 8px 8px;
    border-style: none;
    background-color: @theme_tooltip_bg_color;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_color;
    color: @theme_selected_fg_color;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

GeditViewFrame .gedit-search-slider .button {
    padding-right: 6px;
    padding-left: 6px;
}

.gedit-search-entry-occurrences-tag {
    margin: 2px;
    padding: 2px;
    color: @internal_element_color;
}

/* gnome-documents */
.documents-dropdown,
.documents-dropdown .view {
    /* opacity: 0.9; */
    background-color: @theme_tooltip_bg_color;
    color: @theme_tooltip_fg_color;
}

.documents-dropdown.frame {
    padding: 8px;
    border-radius: 0 0 8px 8px;
    border-style: none;
}

.documents-dropdown .view.radio,
.documents-dropdown .view.radio:active,
.documents-dropdown .view.radio:focus,
.documents-dropdown .view.radio:active:focus {
    box-shadow: none;
}

.documents-dropdown .view.radio,
.documents-dropdown .view.radio:selected {
    background-image: none;
    background-color: transparent;
}

.documents-dropdown .view.radio:hover,
.documents-dropdown .view.radio:focus {
    background-image: url("assets/radio-hover.svg");
    background-color: transparent;
}

.documents-dropdown .view.radio:active,
.documents-dropdown .view.radio:active:hover,
.documents-dropdown .view.radio:active:focus {
    background-image: url("assets/radio.svg");
    background-color: transparent;
}

.documents-dropdown .view.radio:selected:hover,
.documents-dropdown .view.radio:selected:focus {
    background-image: url("assets/radio-selected-hover.svg");
    background-color: transparent;
}

.documents-dropdown .view.radio:selected:active,
.documents-dropdown .view.radio:selected:active:hover,
.documents-dropdown .view.radio:selected:active:focus {
    background-image: url("assets/radio-selected.svg");
    background-color: transparent;
}

.documents-load-more.button {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.documents-scrolledwin.frame {
    border-width: 1px 0 0 0;
}

.documents-icon-bg {
    border-radius: 4px;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.documents-collection-icon {
    border-radius: 8px;
    background-color: @subdued_color;
}

.documents-counter {
    opacity: 0.9;
    border-radius: 8px;
    background-color: alpha(@theme_tooltip_bg_color, 0.9);
    color: alpha(@theme_tooltip_fg_color, 0.9);
    font: bold;
}

.documents-favorite.button *:active,
.documents-favorite.button *:active:hover {
}

.documents-entry-tag {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.documents-entry-tag:hover {
    background-color: shade(@theme_selected_bg_color, 1.1);
}

.documents-entry-tag.button,
.documents-entry-tag.button:hover,
.documents-entry-tag.button:active,
.documents-entry-tag.button:active:hover {
    border-style: none;
    background-image: none;
    background-color: transparent;
    color: @selected_internal_element_color;
}

.documents-entry-tag.button:hover {
    color: @theme_selected_fg_color;
}

/* baobab */
.cell.baobab-level-cell,
.cell.baobab-level-cell:selected {
    background-color: mix(@button_top_active_color, @button_bottom_active_color, 0.5);
}

.cell.baobab-level-cell.fill-block {
    background-color: shade(@info_color, 1.2);
}

.cell.baobab-level-cell.fill-block.level-low {
    background-color: shade(@theme_selected_bg_color, 1.2);
}

.cell.baobab-level-cell.fill-block.level-high {
    background-color: @error_color;
}

.cell.baobab-cell-warning {
    color: @warning_color;
}

.cell.baobab-cell-error {
    color: @error_color;
}

.cell.baobab-cell-warning:selected,
.cell.baobab-cell-error:selected {
    color: @theme_selected_fg_color;
}

BaobabWindow.background GtkStack > GtkGrid > GtkScrolledWindow.frame {
    border-width: 0 1px 0 0;
}

BaobabWindow GtkInfoBar.warning,
BaobabWindow GtkInfoBar.error {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: @border_color;
}

BaobabRingschart {
    background-color: @theme_bg_color;
    padding: 13px 13px 13px 13px;
}

BaobabRingschart.subfolder-tip {
    border-radius: 3px;
    border-style: none;
    padding: 3px 3px 3px 3px;

    background-color: alpha(@theme_tooltip_bg_color, 0.90);
    color: @theme_tooltip_fg_color;

    text-shadow: 1px 1px black;
}

/* epiphany */
EphyToolbar .location-entry .button {
    -GtkButton-child-displacement-y: 0;
}

EphyToolbar .entry:first-child,
EphyToolbar .location-entry .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

EphyToolbar .entry:last-child,
EphyToolbar .location-entry .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

EphyNotebook.notebook {
    border-width: 1px 0 1px 0;
}

EphyToolbar.toolbar .button {
    padding-right: 6px;
    padding-left: 6px;
}

#ephy-page-menu-button.active-menu {
    border-radius: 4px 4px 0 0;
    border-bottom-color: transparent;
    background-image: none;
    background-color: @theme_base_color;
}

#ephy-page-menu-button.active-menu .menu {
    padding-top: 0;
    border-top-width: 0;
}

EphyOverview GtkScrolledWindow {
    background-color: @theme_base_color;
}

/* sets top and bottom borders on the main scrolled window for toolbar visual
 * division and search/downloadbar */
EphyWindow.background EphyEmbed.vertical GtkScrolledWindow.frame {
    border-width: 1px 0;
}

/* removes any border from the overview scrolled window, since it's overlaid */
EphyWindow.background EphyEmbed.vertical EphyOverview .documents-scrolledwin {
    border-style: none;
}

/* remove top and bottom borders from the main scrolled window when inside a notebook tab */
EphyWindow.background EphyNotebook.notebook EphyEmbed.vertical GtkScrolledWindow {
    border-top-width: 0;
    border-bottom-width: 0;
}

/* remove bottom borders from the  main scrolled window when no bars at the bottom of the screen are shown */
EphyWindow.background EphyNotebook:last-child EphyEmbed.vertical GtkScrolledWindow,
EphyWindow.background EphyNotebook.notebook:last-child {
    border-bottom-width: 0;
}

/* Gnome Contacts */
/* Line at top in contacts pane, similar to .documents-scrolledwin.frame */
.contacts-content.frame {
    border-style: none;
}

/* Background color in contacts pane, similar to .documents-main-view.view */
.contacts-main-view.view {
    background-image: url("assets/noise-texture.png");
    background-color: @theme_bg_color;
}

.contacts-suggestion {
    background-color: @subdued_color;
    border-radius: 4px;
}

/* Border on the right in the left menu toolbar */
.contacts-left-header-bar:dir(ltr) {
 border-right-width: 1px;
}

.contacts-left-header-bar:dir(rtl) {
 border-left-width: 1px;
}

.contacts-left-header-bar:dir(ltr),
.contacts-right-header-bar:dir(rtl) {
  border-top-right-radius: 0;
}

.contacts-right-header-bar:dir(ltr),
.contacts-left-header-bar:dir(rtl) {
  border-top-left-radius: 0;
}

/* Sidebar with line at top and the left */
ContactsWindow .sidebar.frame {
    border-width: 0 1px 0 0;
}

.contacts-avatar-frame.frame {
    border-width: 1px 1px 0 1px;
}

.main-avatar-frame.frame {
 border-radius: 6px;
}

/* Primary toolbar with no line at top to avoid conflicts with frame border */
ContactsWindow .primary-toolbar.toolbar {
    border-width: 0 0 1px 0;
}

ContactsWindow .sidebar .view {
    background-color: @subdued_color;
}

ContactsWindow .sidebar .view:selected {
    background-color: @theme_selected_bg_color;
}

.contacts-button:active {
    border-color: @border_color;
}

.contacts-entry {
    padding: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: @border_color;
    background-image: linear-gradient(to bottom,
                                      alpha(@border_color, 0.1),
                                      alpha(@border_color, 0) 4px
                                      );
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.contacts-entry:focus {
    border-color: @focused_border_color;
    box-shadow: inset 0 0 0 1px alpha(@focused_border_color, 0.1);
    background-image: linear-gradient(to bottom,
                                      alpha(@focused_border_color, 0.1),
                                      alpha(@focused_border_color, 0) 4px
                                      );
}

.contacts-entry:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

.contacts-entry.contacts-postal-entry {
    border-radius: 0;
    border-bottom-width: 0;
}

.contacts-entry.contacts-postal-entry:first-child {
    border-radius: 4px 4px 0 0;
}

.contacts-entry.contacts-postal-entry:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 1px;
}

.button.contacts-square {
}

.contacts-combo .button {
}

.toolbar.contacts-edit-toolbar {
    border-width: 1px 0 0 0;
}

.toolbar.contacts-edit-toolbar .button {
    padding-right: 8px;
    padding-left: 8px;
}

.toolbar.contacts-selection-toolbar {
    border-width: 1px 0 0 0;
}

/* gnome-photos */
.photos-icon-bg {
    icon-shadow: 0 1px #000000;
}

/* Gucharmap */
GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

/* evince */
EvWindow.background > GtkBox.vertical > GtkPaned.horizontal > GtkBox.vertical > GtkScrolledWindow.frame {
    border-style: none;
}

EvWindow.background EvSidebar.vertical .frame {
    border-width: 1px 0 0 0;
}

EvWindow.background EvSidebar.vertical .notebook {
    border-width: 1px 0 0 0;
}

EvWindow.background EvSidebarAnnotations.vertical GtkToolPalette > GtkToolItemGroup > .button {
    border-radius: 0;
    border-width: 0 0 1px 0;
}

EvWindow.background EvSidebar.vertical .notebook .frame {
    border-style: none;
}

EvWindow .pane-separator {
    border-width: 0 1px;
    border-style: solid;
    border-color: @border_color;
    background-color: @theme_bg_color;
    color: @internal_element_color;
}

EvWindow.background EggFindBar.toolbar {
    border-width: 1px 0 0 0;
}

/* gcalctool */
MathWindow.background > GtkBox.vertical > GtkBox.vertical > GtkScrolledWindow {
    padding: 4px;
    background-color: @theme_base_color;
}
